 {% include 'navbar.html' %}
 <br><br><br>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Table</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">View Turf Images</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <!--<th scope="col">Id</th>-->
                    <th scope="col">IMAGE ID</th>
                    <th scope="col"> TURF REGISTER NO</th>
                    <th scope="col">IMAGE URL</th>
                    <th scope="col">DESCRIPTION</th>
                                        <th scope="col">IMAGE</th>

                    <th scope="col">EDIT </th>
                    <th scope="col">DELETE </th>
                    <th scope="col">BOOKING </th>

                </tr>
            </thead>

            <tbody>
                {% for result in data %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.3 }}</td>


                                        <td><a href="view_turf_admin_image" class="btn btn-warning btn-sm">IMAGE </a></td>

                    <td><a href="edit_turf_image/{{ result.0 }}" class="btn btn-warning btn-sm">EDIT </a></td>
                    <td><a href="delete_turf_image/{{ result.0 }}" class="btn btn-warning btn-sm">DELETE </a></td>

                    <td><a href="booking/{{ result.0 }}" class="btn btn-warning btn-sm">BOOKING </a></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{% endblock %}
