 {% include 'user_nav.html' %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>selections</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block content %}
<br><br><br><br>
    <div class="container mt-5">
        <h2 class="text-center">View Selections</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <!--<th scope="col">Id</th>-->
                    <th scope="col">Sl No</th>
                    <th scope="col">Size</th>
                    <th scope="col">collar</th>
                    <th scope="col">collar Band</th>
                    <th scope="col">labels</th>



                    <th scope="col">yoke</th>
                    <th scope="col">placket</th>
                    <th scope="col">labels</th>
                    <th scope="col">button</th>

                    <th scope="col">sleeves</th>
                    <th scope="col">User ID</th>
                    <th scope="col">selection_date</th>

                    <th scope="col">VIEW</th>

                </tr>
            </thead>

            <tbody>
                {% for result in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                    <td>{{ result.3 }}</td>
                    <td>{{ result.4 }}</td>
                    <td>{{ result.5 }}</td>
                    <td>{{ result.6 }}</td>
                    <td>{{ result.7 }}</td>
                    <td>{{ result.1 }}</td>


                    <td><a href="edit_parts/{{ result.0 }}" class="btn btn-warning btn-sm">EDIT </a></td>
                    <td><a href="delete_parts/{{ result.0 }}" class="btn btn-warning btn-sm">DELETE </a></td>
                    <td><a href="add_parts_image_link/{{ result.0 }}" class="btn btn-warning btn-sm">ADD IMAGES </a></td>

                    <td><a href="view_shirt_part/{{ result.0 }}" class="btn btn-warning btn-sm">VIEW </a></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>{% endblock %}

